body {
  font-family: "Nanum Gothic", sans-serif;
  min-width: 375px;
}

.top-container {
  background-image: url("../resources/images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: top;
  background-position: 50% 50%;
  /* position: absolute; */
  height: 36em;
  width: 100%;
  min-width: 375px;
}

nav {
  height: 5em;
  min-width: 375px;
}

.header {
  background-color: rgba(48, 48, 48, 0.85);
  /* position: absolute; */
  padding-top: 5em;
  width: 100%;
  height: 36em;
  /* text-align: center; */
}

.flex-container {
  width: 100%;
  padding-top: 5em;
  height: 35em;
}

#logo {
  height: 3em;
}

.white-text {
  color: white;
}

.resp-width {
  min-width: 375px;
}

@media screen and (max-width: 860px) {
  .top-container {
    background-image: url("../resources/images/background-port.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: top;
    background-position: 50% 50%;
    position: absolute;
    height: 36em;
    width: 100%;
    min-width: 375px;
  }
}
