<div class="row pl-2">
  <div class="col h2 pt-4">
    <span>About Me</span>
  </div>
</div>
<!-- About Me -->
<div class="row pb-2">
  <div class="col text-justify">
    <p class="p-2">
      I'm currently a Systems Administrator for a chain of Art Galleries on San Francisco's Fisherman's Wharf.
    </p>
    <p class="p-2">
      After moving to San Francisco in 2014, my career began in the sales management department of an independent North Face retailer.
      I quickly showed my talent at IT and computer science in that position and was then transferred to a sister company
      in 2015 to take up the job I have today. I love learning new things and have been growing my knowledge, including Java
      and Web development by taking classes at the local community college.
    </p>
    <p class="p-2">
      I'm truly passionate about all things IT. As a self-starter and avid learner, I am starting on the path to earn certifications
      from industry leaders such as Coursea, Microsoft, and CompTIA.
    </p>
  </div>
</div>
