<div class="header-bg">
  <div class="header">
    <div class="row top-container row1" id="row1">
      <div class="col d-flex justify-content-center">
        <span id="helloText" class="white-text h1">Hello, I'm Josh</span>
      </div>
    </div>
    <div class="row row2" id="row2">
      <div class="col text-center">
        <span class="white-text font-italic">Thanks for stopping by!</span>
      </div>
    </div>
    <div class="row row3">
      <span></span>
    </div>
    <div class="projects">
      <div class="row row4">
        <div class="col text-center">
          <div class="h4">
            <a href="https://github.com/Knight0fNever" class="pr-2">
              <i class="fa fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/jconner05/" class="pr-2">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/knight0fnever" class="pr-2">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="mailto:josh@josh-conner.com">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
