<!-- Projects -->
<div class="row">
  <div class="col">
    <h1 class="h1">
      Projects
    </h1>
  </div>
</div>
<div class="row pb-3" id="projCardRow">
  <div class="col pl-2 pr-2 pt-2">
    <div class="card">
      <img src="assets/img/pkmn.JPG" class="card-img-top img-fluid" id="pkmnImage">
      <div class="card-body">
        <h3 class="card-title text-center">
          Pokemon TCG Search
        </h3>
        <p class="card-text text-justify">
          Search and find specific Pokemon cards based on various criteria.
        </p>
        <div id="visitBtn">
          <a href="http://pkmncardcollector.net/" class="btn btn-outline-primary">Visit</a>
        </div>
      </div>
    </div>
  </div>
</div>
