<!-- Services -->
<div class="row pl-2">
  <div class="col">
    <h2 class="h2">
      Services
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="h5 pt-2 pl-2 service-title">
      UI/UX Design
    </span>
    <p class="p-2 text-justify">
      UI/UX involves planning and iterating a site's structure and layout. Once the proper information architecture is in place,
      I design the visual layer to create a beautiful user experience.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="h5 pt-2 pl-2 service-title">
      Front End Development
    </span>
    <p class="p-2 text-justify">
      Front End Development is building out the visual components of a website. Using HTML, CSS , and Javascript, I build fast,
      interactive websites.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="h5 pt-2 pl-2 service-title">
      Back End Development
    </span>
    <p class="p-2 text-justify">
      Back End Development is creating the logical back-end and core computational logic of a website, software, or information
      system.
    </p>
  </div>
</div>
